<div class="row">
    <div class="col-sm-6 " style="background-color:#ccddff;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Benign Tumors</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
        Since benign tumors pose no serious health risks, physicians may choose to monitor the lump instead of performing a surgical removal. However, if you feel discomfort, irritation, or a sense of pressure, be sure to inform your doctor so that appropriate steps can be taken to remove the growth and enhance your well-being.
      </p>
    </div>
    <div class="col-sm-6" style="background-color:#ffccee;padding: 15px">
      <h2 style="text-align: center; font-family: 'Balsamiq Sans', cursive;">Malignant tumors</h2>
      <p style="font-size: 1.2em; font-family: 'Balsamiq Sans', cursive;">
        Malignant tumors are dangerous and fast-growing, often spreading into surrounding tissues and causing extensive harm. When a tumor is believed to be malignant, a healthcare provider usually conducts a biopsy to examine its characteristics, determine its severity, and assess how aggressively it may progress.
      </p>
    </div>
  </div>